<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projection Table</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<h1>Projected table for customer number {customerNumber}</h1>
<h1>Name:</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Year</th>
        <th>Starting Amount</th>
        <th>Interest</th>
        <th>Ending Balance</th>
    </tr>
    <tr th:each="projection: ${projections}">
        <td th:text="${projection.year}"></td>
        <td th:text="${#numbers.formatDecimal(projection.startingAmount,2,2)}"></td>
        <td th:text="${#numbers.formatDecimal(projection.interest,2,2)}"></td>
        <td th:text="${#numbers.formatDecimal(projection.endingBalance,2,2)}"></td>
    </tr>
    </thead>
</table>

<a class="btn btn-primary" href="/submit" >Submit</a> <!-- a tags only send get-->
<!--use a tag for easier navigation. wrap in a form with th:action(investrecor.html) if you need a button-->
</body>
</html>